/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */

  /* -------------------- GENERAL -------------------- */
  
  html {
    font-size: 16px;    
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
  }
  
  ul, 
  ol {
    list-style-type: none;  
  }
  
  a {
    color: #e2e3ed;
    text-decoration: none;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
  }
  
  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
  
  }
  
  h3, 
  h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
  }
  
  p {
    line-height: 23pt;
    
  }
  
  img {
    width: 100%;  
  }
  
  figure {
    margin: 0;
  }
  
  address {
    font-style: normal;
  
  }
  
  .content-wrapper {
    width: 90%;
  }
  
  /* -------------------- BASE HEADER AND FOOTER -------------------- */
  
  header,
  footer {
    align-items: center;
    background-color: #202322;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  header {
    padding: 15px 0;
  }

  header figure {
    margin: 0 65px;
    width: 60%;
  }
  
  header .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  
  .header-divider {
    background-color: #e2e3ed;
    height: 1px;
    margin: 10px 0 20px 0;
    min-width: 100%;
  }
  
  header nav {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.2em;
    font-weight: bold;
    justify-content: space-around;
    width: 60%;
  }
  
  header nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
  }
  
  footer {
    color: #e2e3ed;
    flex-direction: column;
    text-align: center;
    padding: 40px 0 0 0;
  }
  
  footer p {
    margin: 0;
  }
  
  footer .contact {
    margin-bottom: 50px;
  }
  
  footer .social-icons {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  
  footer .social-icons p {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  footer .copyright {
    margin: 20px 0;
  }
  
  /* -------------------- HOMEPAGE -------------------- */
  
  /* HERO AREA */
  
  .hero-area {
    background: url('../img/hero.jpg') center no-repeat #333;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    height: 500px;
    justify-content: center;
  }

  .hero-area h1 {
    color: #e2e3ed;
  }
  
  /* ASIDE */
  
  aside {
    align-items: center;
    background-color: #527158;
    color: #e2e3ed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 25px 0 50px 0;
  }

  aside .form {
    margin-top: 30px;
  }
  
  input[type=text] {
    box-sizing: border-box;
    width: 100%;
    color: #2a423a;
    font-style: italic;
    padding: 1em;
  }
  
  input[type=button] {
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    background-color: #2a423a;
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1.125em;
    color: #e2e3ed;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }
  
  /* FEATURES */
  
  .features {
    color: #e2e3ed;
    background-image: url('../img/feature.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 43px 0 60px 0;
  }
  
  .features h2 {
    margin-bottom: 60px;
  }
  
  .features article {
    margin: 30px 0;
    text-align: center;
    width: 63%;
  }
  
  .features .features-items {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  
  .features p {
    margin: 0;
  }
  
  /* REVIEWS */
  
  .reviews {
    color: #e2e3ed;
    background-color: #2a423a;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 50px 0 50px 0;
  }
  
  .reviews h2 {
    margin-bottom: 40px;
  }

  .reviews img {
    width: 100%;
  }
  
  .reviews h3 {
    margin: 20px 0;
    width: 65%;
  }
  
  /* -------------------- ABOUT PAGE -------------------- */
  
  .mission {
    align-items: center;
    background-color: #527158;
    color: #e2e3ed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 45px 0;
  }
  
  .contact-section {
    align-items: center;
    background-color: #2a423a;
    color: #e2e3ed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 45px 0;
  }
  
  .contact-content p {
    margin: 0;
  }
  
/* -------------------- FAQ PAGE -------------------- */
  
  .faq {
    align-items: center;
    background-color: #527158;
    color: #e2e3ed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;    
  }
  
  .faq .content-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 50px 0;
  }

  .faq h2 {
    margin: 0;
  }

  .faq-content {
    margin: 40px 0 0 0;
  }
  
  /* ==========================================================================
     Helper classes
     ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
  }
  
  /*
   * Extends the .visuallyhidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }
  
  .clearfix:after {
    clear: both;
  }
  
  /* ==========================================================================
     Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     ========================================================================== */
  
     /* ---------- TABLET STYLES ---------- */

     @media only screen and (min-width:768px) {

      /* ----- HOMEPAGE ----- */
    
      /* --- GENERAL --- */

      .content-wrapper {
        margin: 100px 0;
        max-width: 640px;
      }
    
      /* --- HEADER --- */

      header {
        justify-content: center;
        padding: 33px 0;
      }
    
      header .content-wrapper {
        justify-content: space-between;
        width: 100%;
      }

      header figure {
        width: 35%;
        display: block;
        margin-left: 0;
        margin-right: auto;
      }
    
      header nav {
        width: 20%;
      }
    
      header nav ul {
        justify-content: space-between;
      }
    
      .header-divider {
        display: none;
      }
    
      /* --- ASIDE --- */

      aside .content-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 50px 0;        
      }
    
      aside .content-wrapper .form-description,
      aside .content-wrapper .form {
        margin: 0;
        width: 40%; 
      }
    
      /* --- FEATURES --- */

      .features article {
        align-items: center;
        display: flex;
        flex-basis: 50%;
        flex-flow: column wrap;
        justify-content: center;        
      }
      
      .features .features-item-description {
        width: 50%;
      }
    
      /* --- REVIEWS --- */

      .reviews article {
        display: flex;
        justify-content: space-between;
      }
    
      .reviews article div {
        padding-left: 10px;
        width: 50%;
      }

      .reviews figure {
        padding-right: 10px;
        width: 50%;
      }

      .reviews h3 {
        margin: 0;
        width: 100%;
      }
    
      /* --- FOOTER --- */

      footer .content-wrapper {
        margin: 100px 0;
        width: 65%;
      }
    
      .footer-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
      }
    
      footer .contact {
        margin-bottom: 0;
      }
    
      footer .copyright {
        width: 100%;
      }
    
     /* ----- ABOUT PAGE ----- */

      .mission-content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding-top: 20px
      }
    
      .mission-content p {
        width: 45%;
      }
    
      .contact-section .content-wrapper h2 {
        width: 80%;
      }
    
      .contact-content {
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
      }

      .map figure {
        width: 100%;
        height: 0; 
        padding-bottom: 125%; 
        overflow: hidden;
        position: relative;
    }
     
    .map iframe {
        width: 100%;
        height: 100%;
        position: absolute; 
        top: 0; 
        left: 0; 
    }
    
     /* ----- FAQ PAGE ----- */

      .faq .content-wrapper {
        justify-content: space-between;
      }
    
      .faq-content {
        flex-basis: 45%;
      }
    
      .faq h2 {
        width: 100%;
      }
  

    /* ---------- DESKTOP STYLES ---------- */ 

    @media only screen and (min-width: 1200px) { 

    /* ----- HOMEPAGE ----- */

    /* --- GENERAL --- */

    .content-wrapper {
      max-width: 960px;
    }

    /* --- HERO AREA --- */

    .hero-area h1 {
        width: 60%;
    }

    /* --- ASIDE --- */

    aside .content-wrapper {
        justify-content: space-around;
    }

    aside .content-wrapper .form-description,
    aside .content-wrapper .form {
        width: 30%;
    }

    /* --- FEATURES --- */

    .features h2 {
        width: 90%; 
    }

    .features article {
        flex-basis: 33%;
    }

    /* --- REVIEWS --- */ 

    .reviews article div {
        width: 42%;
    }

    /* ----- ABOUT PAGE ----- */

    .mission h2,
    .contact-section .content-wrapper h2 {
        width: 95%; 
    }

    /* ----- FAQ PAGE ----- */

    .faq h2 {
        width: 100%;
    }

  }
  
  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }